html,body,ul {
    margin:0;
    padding:0;
}

.container {
    width: 100%;
    margin:50px auto;
}
#tabContent {
    height: 500px;
}

.nav-tabs {
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    list-style: none;
    li {
        display: inline-block;
        margin-bottom: -1px;
        a {
            display: block;
            text-decoration: none;
            color: #53dfff;
            border:1px solid transparent;
            padding: 10px 15px;
            text-align: center;
        }
/*        a:focus,a:hover {
            background-color: #eee;
            border-color: #eee #eee #ddd;
            transition: all 0.3s ease;
        }*/
    }
    .active {
        a,a:focus,a:hover {
            color: #333;
            cursor: default;
            background-color: #fff;
            border:1px solid #ddd;
            border-bottom-color: transparent;
            transition: all 0.3s ease;
            border-radius:4px 4px 0 0 ;
        }
    }
}
.tab-content .active{
    display: block;
}

// tab-pane
.tab-pane{
     display: none;
     animation:opacityChange 1s ease;
 }

@keyframes opacityChange {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

